<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.ico" />
    {{ analytics_html }}
    <title>TimeTracking - Terms and Conditions</title>
    <meta
      name="description"
      content="Terms and Conditions for TimeTracking in Google Calendar"
    />
  </head>
  <body class="flex flex-col min-h-screen bg-white">
    <!-- Navigation -->
    <nav class="flex sm:flex-row-reverse justify-between items-center p-6">
      <div class="flex space-x-4">
        <a href="index.html" class="text-indigo-500 font-semibold">Home</a>
        <a href="terms.html" class="text-gray-800 hover:text-indigo-500"
          >Terms</a
        >
        <a href="privacy.html" class="text-gray-800 hover:text-indigo-500"
          >Privacy</a
        >
      </div>
    </nav>

    <!-- Main Content -->
    <main
      class="flex xl:flex-row flex-col items-center justify-start md:p-12 md:pt-16 p-8 pt-16"
    >
      <div
        class="flex flex-col md:py-2 my-2 xl:w-1/2 w-full md:h-full h-min md:justify-center sm:items-center"
      >
        <div>
          <h1
            class="md:text-8xl sm:text-7xl text-4xl lg:max-w-2xl sm:max-w-sm md:max-w-2xl font-bold text-black"
          >
            TimeTracking in Google Calendar
          </h1>
          <div class="flex my-6">
            <p class="max-w-lg lg:max-w-2xl text-black text-xl">
              Label events with unlimited categories directly in your Google
              Calendar. Perfect for service companies and freelancers to enhance
              accountability and profitability.
            </p>
          </div>
        </div>
        <form
          action="javascript:void(0)"
          class="relative flex flex-col justify-start items-center w-full sm:w-96"
          id="form"
        >
          <input
            type="text"
            name="email"
            id="email"
            placeholder="awesome@mail.org"
            class="rounded-xl border-2 px-4 py-2 border-black lg:w-96 w-full bg-white bg-opacity-60 xl:mt-16"
          />
          <input
            type="hidden"
            id="page_identifier"
            name="page_identifier"
            value="{{ page_identifier }}"
          />
          <div class="relative group max-w-2xl mt-8">
            <div
              class="absolute transition-all duration-500 opacity-70 -inset-px bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] rounded-xl blur-lg group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt"
            ></div>
            <button
              id="submit"
              title="I am interested"
              class="relative w-full items-center justify-center px-8 py-4 text-lg font-bold text-white transition-all duration-200 bg-gray-900 font-pj rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
              disabled
              <!-- {{ -->
              <!-- button_attributes -->
              <!-- }} -->
            >
              I want to know more
            </button>
          </div>
        </form>
        <div
          class="relative flex flex-col justify-start xl:items-start items-center w-full sm:w-96"
          style="display: none"
          id="success"
        >
          <p class="max-w-lg lg:max-w-2xl text-black text-xl">
            We'll be in touch soon!
          </p>
        </div>
      </div>
      <!-- Right container (bottom on mobile)-->
      <div
        class="flex xl:flex-col flex-col-reverse justify-center items-center xl:items-start xl:w-1/2 w-full max-w-2xl z-10"
      >
        <div class="lg:max-w-2xl w-full my-14">
          <div
            class="flex md:flex-row flex-col text-white bg-white bg-opacity-50 border-2 border-black rounded-xl p-6 m-2"
          >
            <img
              src="assets/customizable_event_categorization.gif"
              alt="Demo of customizable event categorization"
              class="md:w-2/4 w-full rounded-xl object-fill sm:mr-4 mb-4"
            />
            <div class="flex flex-col">
              <div class="flex flex-row items-center">
                <div class="w-12 h-12 rounded-lg p-2 mb-2 text-black">
                  <svg class="fill-current" viewBox="0 0 24 24">
                    <path
                      d="M1,4.75H3.736a3.728,3.728,0,0,0,7.195,0H23a1,1,0,0,0,0-2H10.931a3.728,3.728,0,0,0-7.195,0H1a1,1,0,0,0,0,2ZM7.333,2a1.75,1.75,0,1,1-1.75,1.75A1.752,1.752,0,0,1,7.333,2Z"
                    />
                    <path
                      d="M23,11H20.264a3.727,3.727,0,0,0-7.194,0H1a1,1,0,0,0,0,2H13.07a3.727,3.727,0,0,0,7.194,0H23a1,1,0,0,0,0-2Zm-6.333,2.75A1.75,1.75,0,1,1,18.417,12,1.752,1.752,0,0,1,16.667,13.75Z"
                    />
                    <path
                      d="M23,19.25H10.931a3.728,3.728,0,0,0-7.195,0H1a1,1,0,0,0,0,2H3.736a3.728,3.728,0,0,0,7.195,0H23a1,1,0,0,0,0-2ZM7.333,22a1.75,1.75,0,1,1,1.75-1.75A1.753,1.753,0,0,1,7.333,22Z"
                    />
                  </svg>
                </div>
                <h3
                  class="font-extrabold text-xl mb-4 text-transparent bg-clip-text bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-400"
                >
                  Customizable Event Categorization
                </h3>
              </div>
              <p class="font-regular text-gray-800">
                TimeTracking allows you to label your calendar slots with
                unlimited categories, tailoring your scheduling system to fit
                your specific needs. Add the dimensions and labels you need to
                answer your specific business questions.
              </p>
            </div>
          </div>
          <div
            class="flex md:flex-row flex-col text-white bg-white bg-opacity-50 border-2 border-black rounded-xl p-6 m-2"
          >
            <div class="flex flex-col">
              <div class="flex flex-row items-center">
                <div class="w-12 h-12 rounded-lg p-2 mb-2 text-black">
                  <svg class="fill-current" viewBox="0 0 24 24">
                    <path
                      d="M18,8.5a2.5,2.5,0,0,1-5,0A2.5,2.5,0,0,1,18,8.5Zm-.006,6.866a11.065,11.065,0,0,1-1.163,4.569A7.634,7.634,0,0,1,10,24H9V18.5A3.517,3.517,0,0,0,5.5,15H0V14A7.634,7.634,0,0,1,4.065,7.169,11.065,11.065,0,0,1,8.634,6.006,15.487,15.487,0,0,1,20.972,0h0A3.009,3.009,0,0,1,24,3,15.507,15.507,0,0,1,17.994,15.366ZM2.084,13H4.346A34.361,34.361,0,0,1,6.955,8.237a8.993,8.993,0,0,0-1.993.72A5.519,5.519,0,0,0,2.084,13Zm13.679,4.045A34.361,34.361,0,0,1,11,19.654v2.262a5.519,5.519,0,0,0,4.043-2.878A8.993,8.993,0,0,0,15.763,17.045ZM22,2.972A1,1,0,0,0,21,2c-5.16.147-8.65,2.124-12.018,6.822a29.92,29.92,0,0,0-2.471,4.271,5.5,5.5,0,0,1,4.4,4.4,29.92,29.92,0,0,0,4.271-2.471C19.876,11.65,21.853,8.16,22,2.972ZM6.122,17.879a3.015,3.015,0,0,1,0,4.242c-.907.906-3.622,1.465-4.748,1.664l-1.406.247.247-1.406c.2-1.126.758-3.841,1.664-4.748A3.073,3.073,0,0,1,6.122,17.879ZM5,20a.993.993,0,0,0-.293-.707,1,1,0,0,0-1.414,0A7.318,7.318,0,0,0,2.5,21.5a7.342,7.342,0,0,0,2.208-.794A.993.993,0,0,0,5,20Z"
                    />
                  </svg>
                </div>
                <h3
                  class="font-extrabold text-xl mb-4 text-transparent bg-clip-text bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-400"
                >
                  Directly in Google Calendar
                </h3>
              </div>
              <p class="font-regular text-gray-800">
                Access TimeTracking as an add-on directly in your Google
                Calendar's UI and start to label events. Hide the add-on when
                not needed and ensure TimeTracking integrates seamlessly in your
                workflow.
              </p>
            </div>
            <img
              src="assets/google_calendar.gif"
              alt="Google Calendar colorfull animation"
              class="md:w-2/6 w-full max-h-40 rounded-xl object-contain sm:mr-4 mb-4"
            />
          </div>
          <div
            class="flex md:flex-row flex-col text-white bg-white bg-opacity-50 border-2 border-black rounded-xl p-6 m-2"
          >
            <img
              src="assets/data.jpg"
              alt="Demo of customizable event categorization"
              class="md:w-2/4 w-full rounded-xl object-contain sm:mr-4 mb-4"
            />
            <div class="flex flex-col">
              <div class="flex flex-row items-center align-middle mb-4">
                <div
                  class="w-12 h-12 rounded-lg p-2 flex items-center text-black"
                >
                  <svg
                    class="fill-current"
                    xmlns="http://www.w3.org/2000/svg"
                    height="100%"
                    viewBox="0 -960 960 960"
                    width="100%"
                  >
                    <path
                      d="M280-280h80v-200h-80v200Zm320 0h80v-400h-80v400Zm-160 0h80v-120h-80v120Zm0-200h80v-80h-80v80ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
                    />
                  </svg>
                </div>
                <h3
                  class="font-extrabold text-xl text-transparent bg-clip-text bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-400"
                >
                  Get the data you need
                </h3>
              </div>
              <p class="font-regular text-gray-800">
                Get an export of your TimeTracking data and visualize it as you
                want and where you want. By analyzing time spent on each task or
                project, you can enhance productivity and make informed
                decisions. What is not measured cannot be improved.
              </p>
            </div>
          </div>
        </div>
      </div>
      <script src="scripts.js"></script>
    </main>

    <!-- Footer -->
    <footer class="py-8 border-t">
      <div class="max-w-4xl mx-auto px-6">
        <div class="flex flex-col md:flex-row justify-between items-center">
          <p class="text-gray-400 mb-4 md:mb-0">
            © 2025 shds. All rights reserved.
          </p>
          <div class="flex space-x-6">
            <a href="index.html" class="text-indigo-500">Home</a>
            <a href="terms.html" class="text-gray-400 hover:text-indigo-500"
              >Terms</a
            >
            <a href="privacy.html" class="text-gray-400 hover:text-indigo-500"
              >Privacy</a
            >
          </div>
        </div>
      </div>
    </footer>

    <!-- Background Elements -->
    <div
      class="fixed h-full w-full z-[-1] bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]"
    ></div>
    <div
      class="fixed top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"
    ></div>
    <div
      class="fixed bottom-auto z[-2] left-auto right-0 top-0 h-[500px] w-[500px] -translate-x-[30%] translate-y-[20%] rounded-full bg-[rgba(173,109,244,0.5)] opacity-50 blur-[80px]"
    ></div>

    <script src="scripts.js"></script>
  </body>
</html>
